.bgimg-1 {

	background-image: url("img/twilight.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	min-height: 100%;
}

.text-sunrise {
    visibility: hidden;
}

.text-morning {
    visibility: hidden;
}

.text-noon {
    visibility: hidden;
}

.text-afternoon {
    visibility: hidden;
}

.text-sunset {
    visibility: hidden;
}

.text-twilight {
    visibility: visible;
}

.text-noscript {
    visibility: hidden;
}